@page "/balanceandproducts"
@attribute [Authorize(Roles = "Social activist, Admin")]

<PageTitle>Buy or donate</PageTitle>
<h3>Want to buy something? Or maybe to donate?</h3>

<div>
    <button class="btn btn-primary" @onclick="GetCampaignsAndMoney">Click to get see campaigns and money</button>
</div>
&nbsp;

@if (ShowTableCampaignsAndMoney)
{
    @if (campaignsAndMoney.Count() != 0)
    {
        <DataGrid TItem="SpResults"
          Data="@campaignsAndMoney"
          @bind-SelectedRow="@campaignFromForeach"
          Filterable
          Responsive>
            <DataGridColumn Field="@nameof( SpResults.campaignName )" Caption="Campaign" Editable="false"></DataGridColumn>
            <DataGridColumn Field="@nameof( SpResults.Hashtag )" Caption="Hashtag" Editable="false"></DataGridColumn>
            <DataGridColumn Field="@nameof( SpResults.money )"  Caption="Balance" Editable="false" Sortable="true"></DataGridColumn>
        </DataGrid>
    } else
    {
        <div>Loading ...</div>
    }
}

&nbsp;
&nbsp;
<div>
    <button class="btn btn-primary" @onclick="GetProductsAndCampaignsNames">Click to see products and campaigns</button>
</div>
&nbsp;

@if (ShowTableProductsAndCampaigns)
{
    if (productsAndCampaigns.Count() != 0)
    {
        <DataGrid TItem="ProductsAndCampaignsShared"
          Data="@productsAndCampaigns"
          @bind-SelectedRow="@productFromForeach"
          Filterable
          Responsive>
            <DataGridColumn Field="@nameof( ProductsAndCampaignsShared.campaignName )" Caption="Campaign" Editable="false"></DataGridColumn>
            <DataGridColumn Field="@nameof( ProductsAndCampaignsShared.productName )" Caption="Product" Editable="false"></DataGridColumn>
            <DataGridColumn Field="@nameof( ProductsAndCampaignsShared.productValue )" Caption="Price" Editable="false" Sortable="true"></DataGridColumn>
        </DataGrid>

        <button class="btn btn-warning" @onclick="() => EditProduct()">I want to buy it!</button>
        <button class="btn btn-success" @onclick="async() => {
                                                         await SelectProductToDonate();
                                                         await GetAllCampaigns();
                                                        }">
                                                        I want to donate it!
        </button>
    } else
    {
        <div>Loading ...</div>
    }
}

@if (ShowFormBuy)
{
    <div>
        <EditForm Model="@saTransactionShared" OnValidSubmit="@(async() => {
                                                                               await BuyProduct(saTransactionShared,productFromForeach);
                                                                            })">
            <DataAnnotationsValidator />
            &nbsp;
            <div>A campaign you chose is <b>"@campaignFromForeach.campaignName"</b> and a product you chose is <b>"@productFromForeach.productName"</b></div>
            &nbsp;
            <div class="form-group">
                <label for="products_number">Products Number</label>
                <InputNumber id="products_number" @bind-Value="saTransactionShared.products_number" class="form-control" />
            </div>
            &nbsp;
            <div>
                <button type="submit" class="btn btn-primary">Buy this product</button>
            </div>
            &nbsp;
            @*<ValidationSummary />*@
        </EditForm>
    </div>
}

@if (ShowFormDonate)
{
    <div>
        <EditForm Model="@boughtNumber" OnValidSubmit="@(async() => {
                                                                        await AnalizeProductAndCampaignAndDonate(selectedCampaignName,
                                                                                                                 boughtNumber);
                                                                    })">
            <DataAnnotationsValidator />
            &nbsp;
            <div>A campaign you chose is <b>"@campaignFromForeach.campaignName"</b> and a product you chose is <b>"@productFromForeach.productName"</b> and donate it to <b>"@selectedCampaignName"</b></div>
            &nbsp;
            <div class="form-group">
                <label for="BoughtNumber">How many products to donate</label>
                <InputNumber id="BoughtNumber" @bind-Value="boughtNumber" class="form-control" />
            </div>
            &nbsp;
            <div>
                <div>Choose a campaign to donate to</div>
                <InputSelect id="campaigns" class="form-group" @bind-Value="@selectedCampaignName">
                    @foreach (var campaign in allCampaigns)
                    {
                        <option value="@campaign.Name">@campaign.Name</option>
                    }
                </InputSelect>
            </div>
            &nbsp;
            <div>
                <button type="submit" class="btn btn-primary" @onclick="@(async() =>
                                                              { await ChooseCampaignFromDropDown(selectedCampaignName);
                                                              })">
                    Donate to this campaign
                </button>
            </div>
            &nbsp;
            @*<ValidationSummary />*@
        </EditForm>
    </div>
}

@code {


}


