@page "/donate"
@attribute [Authorize(Roles = "Business company representative, Admin")]


<PageTitle>Donate</PageTitle>

<h3>Want to donate something?</h3>

<div>
	<button class="btn btn-primary" @onclick="GetCampaignsAndNPR">See campaigns and representatives</button>
</div>
&nbsp;

@if (showTableCampaignsAndNRP)
{
		if (listOfCampaignsAndNPR.Count() != 0)
		{
			<div>
				<table class="table table-hover table-striped">
					<thead class="table-dark">
						<tr>
							<th>Campaign Name</th>
							<th>Campaign Link</th>
							@*<th>Campaign Hashtag</th>*@
							<th>Organization Name</th>
							<th>Campaign Link</th>
							<th>Representative Email</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var campaign in listOfCampaignsAndNPR)
						{
							<tr>
								<td>@campaign.Name</td>
								<td>@campaign.Link</td>
								@*<td>@campaign.Hashtag</td>*@
								<td>@campaign.OrganizationName</td>
								<td>@campaign.OrganizationLink</td>
								<td>@campaign.NPR_email</td>
								<div>
									<button class="btn btn-outline-success" @onclick="() => 
										SelectCampaignToDonateTo(campaign)">Choose this campaign to donate a product
									</button>
								</div>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		else
		{
			<div>Loading ...</div>
		}
}

&nbsp;

<div>
	<button class="btn btn-primary" @onclick="() => GetProductsAndBCRInfo()">See my products</button>
</div>
&nbsp;

@if (showTableProductsAndBCRInfo)
{
		@if (listOfProductsByBCR.Count() != 0)
		{
			<div>
				<table class="table table-hover table-striped">
					<thead class="table-dark">
						<tr>
							<th>Product Name</th>
							<th>Product Value</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var product in listOfProductsByBCR)
						{
							<tr>
								<td>@product.Name</td>
								<td>@product.Value</td>
								<div>
									<button class="btn btn-outline-success" @onclick="async () => {
										await SelectProductToDonate(product);
										await GetAllProductsToCampaigns(); }">
										Choose this product
									</button>
								</div>
							</tr>
						}
					</tbody>
				</table>
			</div>
		} else
		{
			<div>Loading ...</div>
		}
}
&nbsp;

@if (showDonationForm)
{
	<div>
		<EditForm Model="@initialNumber" OnValidSubmit="@(async() => await CheckAndDonateProduct())">
			<DataAnnotationsValidator />
			<div class="form-group">
				<label for="InititalNumber">Iniitial Number</label>
				<InputNumber id="InititalNumber" @bind-Value="initialNumber" class="form-control" />
			</div>
			&nbsp;
			<div>
				<button type="submit" class="btn btn-primary">Donate!</button>
			</div>
			&nbsp;
		</EditForm>
	</div>
}

<div>
	<button class="btn btn-primary" @onclick="ShowProductForm">Add a new product</button>
</div>
&nbsp;

@if (showAddProductForm)
{
	@if (!product_flag)
	{
		<div class="row">
			<div class="col-6 offset-1">

				<EditForm Model="@newProduct" OnValidSubmit="@sendNewProduct">

					<DataAnnotationsValidator />
					<div class="row mb-4">
						<label for="productName" class="col-sm-3 col-form-label">Name</label>
						<div class="col-sm-9">
							<InputText type="text"
							   class="form-control"
							   id="productName"
							   placeholder="Write the product's name here"
							   @bind-Value="newProduct.Name" />
							<ValidationMessage For="() => newProduct.Name" />
						</div>
					</div>
					<div class="row mb-4">
						<label for="productValue" class="col-sm-3 col-form-label">Value</label>
						<div class="col-sm-9">
							<InputNumber type="number"
							   class="form-control"
							   id="productValue"
							   placeholder="Write the product's value here"
							   @bind-Value="newProduct.Value" />
							<ValidationMessage For="() => newProduct.Value" />
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-sm-6 offset-3">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="reset" class="btn btn-danger">Clear fields</button>
						</div>
					</div>

				</EditForm>
			</div>
		</div>
	}
	<div class="row">
		<div class="row col-6 offset-1">
			<h4>@product_respond</h4>
		</div>
	</div>

}


@code {


	
}
