@page "/donate"
@using global::Shared
@attribute [Authorize(Roles = "Business company representative, Admin")]


<PageTitle>Donate</PageTitle>

<h3>Want to donate something?</h3>

<div>
	<button class="btn btn-primary" @onclick="GetCampaignsAndNPR">See campaigns and representatives</button>
</div>
&nbsp;

@if (showTableCampaignsAndNRP)
{
	@if (listOfCampaignsAndNPR.Count() != 0)
	{
		<DataGrid TItem="CampaignsAndNpr"
		  Data="@listOfCampaignsAndNPR"	
		  @bind-SelectedRow="@campaignToDonateTo"
		  Filterable
		  Responsive>
			<DataGridColumn Field="@nameof( CampaignsAndNpr.Name)" Caption="Campaign Name" Editable="false" Sortable="true"></DataGridColumn>
			<DataGridColumn Field="@nameof( CampaignsAndNpr.Link )" Caption="Campaign Link" Editable="false"></DataGridColumn>
			<DataGridColumn Field="@nameof( CampaignsAndNpr.OrganizationName )" Caption="Organization Name" Editable="false" Sortable="true"></DataGridColumn>
			<DataGridColumn Field="@nameof( CampaignsAndNpr.OrganizationLink )" Caption="Campaign Link" Editable="false"></DataGridColumn>
			<DataGridColumn Field="@nameof( CampaignsAndNpr.NPR_email )" Caption="Representative Email" Editable="false"></DataGridColumn>

		</DataGrid>
	} else
	{
		<div>Loading ...</div>
	}
}

&nbsp;
<div>
	<button class="btn btn-primary" @onclick="() => GetProductsAndBCRInfo()">See my products</button>
</div>
&nbsp;

@if (showTableProductsAndBCRInfo)
{
	@if (listOfProductsByBCR.Count() != 0)
	{
		<DataGrid TItem="ProductsAndBcrInfo"
		  Data="@listOfProductsByBCR"
		  @bind-SelectedRow="@productToDonate"
		  Filterable
		  Responsive>
			<DataGridColumn Field="@nameof( ProductsAndBcrInfo.Name)" Caption="Product Name" Editable="false" Sortable="true"></DataGridColumn>
			<DataGridColumn Field="@nameof( ProductsAndBcrInfo.Value )" Caption="Product Value" Editable="false" Sortable="true"></DataGridColumn>

		</DataGrid>
	} else
	{
		<div>Loading ...</div>
	}
}

&nbsp;

<div>
	<button type="submit" class="btn btn-success" onclick="@(async() => await ShowDonationForm())">Show donation form</button>
</div>

&nbsp;

@if (showDonationForm)
{
	<div>
		<EditForm Model="@initialNumber" OnValidSubmit="@(async() => await CheckAndDonateProduct())">
			<DataAnnotationsValidator />
			<div class="form-group">
				<label for="InititalNumber">Iniitial Number</label>
				<InputNumber id="InititalNumber" @bind-Value="initialNumber" class="form-control" />
			</div>
			&nbsp;
			<div>
				<button type="submit" class="btn btn-success">Donate!</button>
			</div>
			&nbsp;
		</EditForm>
	</div>
}

<div>
	<button class="btn btn-primary" @onclick="ShowProductForm">Add a new product</button>
</div>
&nbsp;

@if (showAddProductForm)
{
	@if (!product_flag)
	{
		<div class="row">
			<div class="col-6 offset-1">

				<EditForm Model="@newProduct" OnValidSubmit="@sendNewProduct">

					<DataAnnotationsValidator />
					<div class="row mb-4">
						<label for="productName" class="col-sm-3 col-form-label">Name</label>
						<div class="col-sm-9">
							<InputText type="text"
							   class="form-control"
							   id="productName"
							   placeholder="Write the product's name here"
							   @bind-Value="newProduct.Name" />
							<ValidationMessage For="() => newProduct.Name" />
						</div>
					</div>
					<div class="row mb-4">
						<label for="productValue" class="col-sm-3 col-form-label">Value</label>
						<div class="col-sm-9">
							<InputNumber type="number"
							   class="form-control"
							   id="productValue"
							   placeholder="Write the product's value here"
							   @bind-Value="newProduct.Value" />
							<ValidationMessage For="() => newProduct.Value" />
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-sm-6 offset-3">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="reset" class="btn btn-danger">Clear fields</button>
						</div>
					</div>

				</EditForm>
			</div>
		</div>
	}
	<div class="row">
		<div class="row col-6 offset-1">
			<h4>@product_respond</h4>
		</div>
	</div>

}


@code {


	
}
